*{
    padding: 0;
    margin: 0;
    font-weight: normal;
}
ul{
    text-decoration: none;
    list-style: none;
}

/* font*/
@font-face {
    font-family: 'Big';
    src: url('BigNoodleTitling.eot');
    src: url('BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
        url('BigNoodleTitling.woff2') format('woff2'),
        url('BigNoodleTitling.woff') format('woff'),
        url('BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/fond.jpg") center;
    background-size: cover;
}

header nav{
    position: fixed;
    top: 50%;
    left: 5%;
    font-family: "Big";
    background-color: rgb(255, 255, 255,0.7) ;
}

header div{
    width: 20vw;
    height: 20vw;
    position: relative;
}

header div img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

header nav ul li{
    border-bottom: 2px solid black;
    padding: 10px 20px;
}
header nav ul li:last-of-type{
    border-bottom: none;
}


header nav ul li a{
    text-transform: uppercase;
    color: black;
    font-family: "Big";
    font-size: 20px;
    text-decoration: none;

}

main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 section{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;

}
.maman{
    margin: 20px;
    width: 200px;
}

section div div{
    width: 200px;
    height: 200px;

}

main section div div img{
    width: 100%;
}


section>div>div>div{
    border:2px;
    background: rgba(0,0,0,0.5);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
} 

.haut>div{
    transform: translateY(-100%);
}

.haut:hover>div{
    transform: translateX();
}

.droite>div{
    transform: translateY(+100%);
}
.droite:hover>div{
    transform: translate();
}


main section div h2{
    font: "Big";
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
}

footer{
    display: flex;
    background: black;
    color: white;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
}
.coordonnees{
    display: flex;
    margin-bottom: 50px;

}
.bloc-g{
    border-right: 2px solid white;
    padding-right: 25px;
}
.bloc-d{
    padding-left: 2px solid white;
    flex-direction: column;
    justify-content: center;
    padding left: 25px;


}
.reseaux a{
    
}



